/*css for index.css*/
body {
  margin: 0;
  background-color: #eeeeee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-div {
  width: 95%;
  display: table;
  margin: 0;
  padding: 5px;
}

.row-div {
  display: table-row;
}

.cell-div {
  display: table-cell;
}

/*css for login page*/

#loginPanel {
  background-color: #eeeeee;
  width: 100%;
  overflow-y: scroll;
}

.panelInputs {
  margin-top: 15%;
  align-self: center;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-left: 10%;
  margin-right: 10%;
}

.inputFields {
  display: flex;
  align-self: center;
  align-items: baseline;
  flex-direction: row;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

p {
  text-align: center;
  display: inline;
  margin-right: 5px;
  color: MediumSeaGreen;
  font-weight: bold;
}

#loginButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.5rem;
  margin-right: 10%;
  background-color: '#72BB53';
  border: none;
  padding: 4px;
  text-align: center;
  width: 100%;
}

#loginButton > Button {
  width: 50%;
  padding: 5px;
  max-width: 40%;
  color: whitesmoke;
  background-color: #4caf50;
}

/*sideBar css*/

.hidden {
  display: none;
}

.MuiList-root {
  background-color: '#72BB53' !important;
  color: '#ffffff' !important;
}

#nested-list-subheader {
  display: flex;
  font-weight: bold;
  font-size: 1.33rem;
  padding: 15px 5px 18px 8px;
  border-bottom: 2px solid #8f9394;
  color: #282929;
}
/* Main Panel css*/

.mainPanel {
  background-color: #eeeeee;
  width: 100%;
  overflow-y: scroll;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

.search {
  width: 90%;
  position: relative;
  margin-top: 16px;
  margin-left: 0;
  margin-right: 16px;
  border-radius: 4px;
  background-color: white;
}

.searchIcon {
  height: 100%;
  display: flex;
  padding: 0px 16px;
  position: absolute;
  align-items: center;
  pointer-events: none;
  justify-content: center;
}

.MuiInputBase-input {
  font: inherit;
  color: currentColor;
  width: 90%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 8px 40px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}

.MuiInputBase-root {
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
}

/* css for storeCard.jsx */

.card {
  color: white;
  width: 400px;
  height: 150px;
  margin-top: 1.5rem;
  text-align: center;
  margin-left: 1.5rem;
  background-color: #72bb53;
}

.card_container {
  padding: 1px;
}

.card_container:last-child {
  padding-bottom: 24px;
}

.card_container h5 {
  font-size: 1.5rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
}

/* css for Landing.jsx */

.landing {
  display: flex;
}

/*css for ShoppingCardMainPanel */

.shoppingCart__main_root {
  width: '100%';
  margin-top: '20px';
}

.shoppingCart__main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.shoppingCart__main--inventory {
  width: 70%;
  overflow-y: scroll;
}

nav ul {
  overflow: hidden;
  overflow-y: scroll;
}

.shoppingCart__main--detail {
  width: 30%;
}

#shoppingInventoryParent {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-top: 0.5rem;
  width: 97%;
}

#shoppingInventoryParent:hover {
  background-color: rgb(160, 154, 154);
}

.shoppingInventoryFirstRow {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-right: 1rem;
}

.shopping_InventorySecondRow {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.iconContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 20;
}

.capture_btn {
  color: white;
  width: 100%;
  border: none;
  height: 2rem;
  font-size: 15px;
  margin-top: 1.5rem;
  border-radius: 5px;
  background-color: #72bb53;
}

/* camera css class */
.Camera_cancelScan {
  display: flex;
  cursor: pointer;
  justify-content: end;
  font-size: 1.33rem;
  color: red;
  margin: -44px 10px 0px 0px;
}
/* camera css class */
.camera_scan {
  display: flex;
  cursor: pointer;
  justify-content: end;
  font-size: 1.33rem;
  color: #72bb53;
  margin: -44px 10px 0px 0px;
}

.card_scan_result {
  /* color: white; */
  width: 400px;
  height: 150px;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  /* background-color: gray; */
}

i.fa-camera {
  font-size: 50px;
}

/*css for SideBar */

.nested_list_sidebar {
  width: 100%;
  max-width: 360px;
  background-color: lightgrey;
  height: 100vh;
  overflow: scroll;
}
.nested {
  padding-left: 32px;
}
/*css for detail.jsx */
.detail {
  background-color: #f7f6f6;
  height: 100%;
  padding: 1rem;
}

.collapsed_sidebar {
  background-color: lightgrey;
  height: 100vh;
}

.list {
  margin-top: 0.5rem;
  font-size: 12px;
  color: gray;
}

.balance {
  color: gray;
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1rem;
}

.checkout_button {
  background-color: #72bb53;
  color: white;
  margin-top: 1.5rem;
  font-size: 15px;
  border: none;
  height: 3rem;
  border-radius: 5px;
  width: 100%;
}
.checkout_button:hover {
  cursor: pointer;
  background-color: #4c7a34;
}
.m-5 {
  margin: 5px;
}

.iconsContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* css for paymentOption*/
.option_list {
  padding: 5%;
}

#amount_input {
  margin: 0 0 0 4px;
  width: 25%;
  padding: 2%;
}
#button_submit {
  background-color: #72bb53;
  width: 100%;
  color: #ffffff;
  padding: 4%;
  border: none;
}

.radio_btn {
  padding: 20%;
  margin: 4%;
}

.amount_div {
  display: flex;
  margin: 2%;
}

.teminal_label {
  padding: 1px 10px 1px 3px;
  font-size: x-small;
}
.amount_label {
  font-size: x-small;
  padding-top: 6px;
  margin-right: 9px;
}

/*css for inventory*/
.inventory__main_root {
  width: 100%;
  margin-top: 20px;
}
.inventoryParent {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-top: 0.5rem;
}

.inventoryFirstRow {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-right: 1rem;
}
.inventorySecondRow {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-right: 1rem;
  margin-top: 0.5rem;
}
/* .inventory{
  overflow-y: scroll;
  height: 100%;
  background-color: #F7F6F6;
}

.inventory__card--label{
  color: grey;
  margin-right: 10px;
} */

/*comman css*/
.m10 {
  margin: 10px;
}

.d-flex {
  display: flex;
}

.item_content {
  justify-content: space-between;
}

.fw {
  font-weight: 700;
}
.pr {
  padding-right: 10%;
}

.pl {
  padding-left: 15rem;
}

.p10 {
  padding: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Extra small devices (phones, 780px and down) */
@media only screen and (max-width: 768px) {
  .card {
    width: 320px;
    height: 114px;
  }

  .card_container h5 {
    font-size: large;
  }
  i.fa-camera {
    font-size: 25px;
    margin-top: 13px;
  }

  #shoppingInventoryParent {
    margin-top: 2.5rem;
  }
  .shoppingInventoryFirstRow {
    display: grid;
  }
  .nested_list_sidebar {
    width: 100%;
    max-width: 150px;
  }
  .MuiListItem-gutters {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .MuiListItemIcon-root {
    min-width: 28px !important;
  }
  .checkout_button {
    height: 2rem;
  }

  /*login page*/
  #password {
    height: 30px;
  }
  #username {
    height: 30px;
  }
  #loginButton > Button {
    width: 100%;
    max-width: 100%;
  }
  .inputFields > P {
    font-weight: 900;
  }
}
