.paymentoption {
  width: "50%";
  background-color: #f7f6f6;
  height: 100%;
  padding: 1rem;
}
/* .MuiTypography-root{
    color: black;
  } */
.MuiAccordionSummary-root.Mui-expanded {
  background-color: darkgray;
}
